* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "myfont";
    src: url('GloriaHallelujah-Regular.ttf');
  }

body{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('gudetama\ on\ repeat.jpg');
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: yellow;
    font-size: 5rem;
    text-align: center;
    background-color: rgb(0, 0, 0,.6);
    margin-left: 3cm;
    margin-right: 3cm
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h2 {
    color: pink;
    font-size: 2rem;
    background-color: rgb(0, 0, 0,.6);
    margin-left: 3cm;
    margin-right: 3cm;
}

h3{
    color: pink;
    font-size: 2rem;
    margin-left: 3cm;
    margin-right: 3cm;
}

p{
    color: pink;
    font-size: 2rem;
    background-color: rgb(0, 0, 0,.6);
    margin-left: 3cm;
    margin-right: 3cm;
}

h4{
    font-family: "myfont";
}

u1{font-size: "myfont";
}

u2{font-family: "myfont";
    list-style-image: url('gudetama\ egg\ shell.png');
    list-style-position: inside;
    text-align: center;
}

a:link {
    color: transparent;
    text-decoration: none;
    margin-left: 10cm;
  }
  
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

  img {border: 3px solid black}

 